@import "tailwindcss";
@import "./assets/font/vazirmatn.css";

@custom-variant dark (&:where(.dark, .dark *));

.profilaImage{
box-shadow: -5px -9px 19px 1px rgba(255, 200, 0, 0.31),
    2px 2px 0px 0px rgb(201, 133, 88);
background-color: rgba(253, 242, 242, 0.19);
border-radius: 110px;
}
/* 
.bottonBar{
    height: 500px;
    clip-path: polygon(60% 86%, 100% 85%, 100% 100%, 0% 100%, 0% 85%, 42% 86%, 51% 95%);
    background: #ad3737;
    z-index: -20;
} */